<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width-height, initial-scale=1.0"
    />
    <meta name="theme-color" content="#f9b6cf" />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/style.css') }}"
    />
    <title>Moonbean</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
    </style>

    <script src="{{url_for('static', filename='scripts/scripts.js')}}"></script>
  </head>
  <body>
    <style>
      body {
        background-image: url("{{ url_for('static', filename='pushed_down.png') }}");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: bottom;
      }
    </style>

    <!--<img class="bean" src="static/moonbean.jpg" alt="temp" width="300" />-->

    <div class="brightnesslider">
      <div class="brightnesstext">BRIGHTNESS</div>
      <div class="sliderc">
        <input
          class="sliderinput"
          type="range"
          min="0"
          max="10"
          value="5"
          class="Slider"
          id="Slider"
        />
        <p>value:<span id="brightnessValue"></span></p>
      </div>
    </div>

    <div class="timer">
      <h2>Timer duration</h2>

      <input
        class="durationinput"
        type="number"
        inputmode="numeric"
        id="timerInput"
        min="0"
        max="60"
        value="15"
        size="1"
      />
      <!--<p>value:<span id="durationValue"></span></p>-->
    </div>
  </body>
</html>
